body {
  height: 100%;
  padding: 0;
  margin: 0;

  .line-algo {
    width: 190px !important;
  }

  .algo-content {
    display: flex;
    flex-direction: row;

    .code-blocks {
      padding-bottom: 60px;

      .code-block-container {
        padding: 15px 10px 15px 40px;
      }

    }

    .sidebar-name {
      padding-top: 15px;
      padding-bottom: 10px;
    }

    .syntax-container {
     min-width: 1350px;
    }

    .sidebar-container {
      display: flex;
      flex-direction: column;
      padding-left: 15px;
      padding-right: 15px;
      width: 250px;
      min-width: 250px;
      //background-color: #E0F1FF;
      border-right-style: solid;
      border-right-width: 1px;
      border-right-color: rgba(0,0,0,.125);

      .sidebar-fill {
        flex-grow: 1;
      }

      .sidebar-item {
        padding-left: 10px;
        padding-bottom: 5px;
        &:hover {
          cursor: pointer;
          color: #D24D57;
        }
      }

      .sidebar-item-selected {
        padding-left: 10px;
        padding-bottom: 5px;
        font-weight: bold;
        &:hover {
          cursor: pointer;
        }
      }
    }

  }
}
