.footer {
  background-color: #1B242F;
  border-top: 3px solid #04C2C9;
  display: flex;
  justify-content: center;

  position:fixed;
  left:0;
  bottom:0;
  right:0;
  height: 50px;

  .icon {
    color: #fff;
    padding-right: 30px;
    margin-top: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}
