@hover: #E31B6D;

body {
  .nav-bar {
    display: flex;
    background-color: #1B242F;
    border-bottom: 3px solid #04C2C9;
  }

  .nav-right {
    margin-left: auto;
    display: flex;
    float: right;
    padding-right: 15px;

    .nav-selected {
      font-weight: bold;
      text-decoration: underline;
    }

    .nav-link {
      padding-top: 10px;
      color: #fff;

      &:hover {
        cursor: pointer;
        color: @hover !important;
      }
    }
  }

  .nav-brand {
    padding: 10px 60px 10px 60px;
    font-weight: 700;
    font-size: 1.2em;

    &:hover {
      cursor: pointer;
      color: @hover !important;
    }
  }

  a {
    color: #fff !important;
    text-decoration: none !important;

    &:hover {
      color: @hover !important;
    }
  }
}
