@import "footer";
@import "home";
@import "navigation";
@font-face {
  font-family: 'Railway';
  src: url('//fonts.googleapis.com/css?family=Raleway');
  font-weight: normal;
  font-style: normal;

}

body {

  .logos {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    .me-logo {
      padding-right: 30px;
      height: 100px;
    }
  }

  .item-hover {
    &:hover, &:focus {
      cursor: pointer;
    }
  }
}
