@import "footer";

body {
  background-color: #3B3D41;

  .content-text {
    color: #f8f9fa;
  }

  .top-image {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .me-top {
    display: flex;
    .me-img {
      border-radius: 25%;
      height: 200px;
      padding-right: 30px;
    }
  }

  .me {
    margin: 10px 10px 10px 10px;
  }

  .logos {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    .me-logo {
      padding-right: 30px;
      height: 100px;
    }
  }

  .farm {
    cursor:hand;
  }
}
